# Credentials for Pinata API ( IPFS )
export REACT_APP_PINATA_KEY=648963ba4f431e16e03a
export REACT_APP_PINATA_SECRET=3b625f525558b8a6a02f557ba8f525f34f9426d71ad9e0b010282893996c5c2d


# Alchemy API
export REACT_APP_ALCHEMY_API_URL=https://eth-goerli.g.alchemy.com/v2/m-fw1x6tBzSi5x_2EsPv009rJTofYJ_K
