.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nftpage .nft-title {
  margin-top: 50px;
  font-size: 40px;
}

.nftpage .price {
  font-style: bold;
  font-size: 18px;
}

.nftpage .description {
  font-size: 22px;

}

.nftpage .owner {
  font-style: italic;
}

.nfttile {
  position: relative;
}

.nfttile .price-tag {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  font-style: bold;
  border-radius: 5%;
  background-color: #282c345a;
  padding: 2px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
